
.post {
    margin: 5px;
    max-width: 500px;
    font-size: 12px;
}

.post .section {
    padding: 5px;
    border: 1px solid gray;
    border-radius: 4px;
}

.post .title {
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 5px;
    border-bottom: 1px solid lightgray;
}

.post .body {
    padding: 5px 0;
}